@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  /* ********** Sidebar Start ******** */
  #sidebar:not(.open) {
    @apply -translate-x-full sm:translate-x-0
  }
  /* ********** Sidebar Start ******** */

  /* ********** Menu Start ******** */
  .menu-item {
    @apply text-black whitespace-nowrap list-none cursor-pointer py-2 relative px-6 hover:text-blue-400
  }
  .menu-item .dropdown {
    @apply bg-white border mt-3 rounded
  }
  .dropdown .menu-item:not(:first-child) {
    @apply border-t
  }
  .menu-item:not(.active) .dropdown {
    @apply invisible h-0
  }
  .menu-item.active {
    @apply text-blue-400
  }
  .menu-item.active .dropdown .dropdown {
    @apply top-0 -right-2 translate-x-full z-50 mt-0 ml-2
  }
  /* ********** Menu End ******** */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

}